@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Changa+One&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --font-head: "Changa One", cursive;
  --font-base: "Alkatra", cursive;
  --color-white: rgb(251, 252, 255);
  --color-grey: #b7b6bd;
  --color-black: #282828;
}
